html {
	box-sizing: border-box;
}

*, *:before, *:after{
	box-sizing: inherit;
}

.rightHeaderSpan{
	float: right;
	line-height: 50px;
	margin: 10px;
}

.headerSpan{
	line-height: 50px;
	margin-left:30px;
}
#gitHeadLogo{
	line-height: 40px;
	margin:0px 0px 0px 20px;
}

#mainFoot{
	display: flex;
	justify-content: space-around;
	align-items: flex-end;
	height:100px;
	width:100%;
	border-top:1px solid #666;
	
}

#mainFoot li{
	display: inline-block;
	list-style: none;
}

#mainGitLogo{
	height: 40px;
	width: 40px;
	line-height: 100px;
}
#mainDiv{
	float: left;
	height: 2600px;
	width:28%;

}

#mainDiv li{
	list-style: none;
	text-align: left;
}

#mainDiv ul{
	padding-left: 0;

}

#smallAvatarDiv{
	height:20px;
	width: 20px;

}

#repoMainDiv{
	float:right;
	height:2600px;
	width:70%;
}

#repoMenu{
	height: 50px;
	width: 100%;
	border-bottom: 1px solid #666;
	margin-bottom: 10px;
}
#repoMenu li{
	display: inline-block;
	margin:20px;
}
#repoContainer{
	height: 100px;
	width:100%;
	border-bottom: 1px solid #666;
}

a:link, a:visited, a:hover, a:active{
	color:blue;
	text-decoration: none;
}
