html {
	box-sizing: border-box;
}

*, *:before, *:after{
	box-sizing: inherit;
}

#mainFoot{
	display: flex;
	justify-content: space-around;
	height:100px;
	width:100%;
}

#mainFoot li{
	display: inline-block;
	list-style: none;
}

#mainGitLogo{
	height: 40px;
	width: 40px;
	line-height: 100px;
}