html {
	box-sizing: border-box;
}

*, *:before, *:after{
	box-sizing: inherit;
}

#container{
	width:100%;
	margin:auto;
}
.rightHeaderSpan{
	float: right;
	line-height: 50px;
	margin: 10px;
}

.headerSpan{
	line-height: 50px;
	margin-left:30px;
}
#gitHeadLogo{
	vertical-align: middle;
	margin:0px 0px 0px 20px;
}

#mainFoot{
	display: flex;
	justify-content: space-around;
	align-items: flex-end;
	height:100px;
	width:100%;
	border-top:1px solid rgb(209, 213, 218);
}

#mainFoot li{
	display: inline-block;
	list-style: none;
	color:rgb(88,96,105);
	margin:0px 10px;
}

#mainGitLogo{
	height: 40px;
	width: 40px;
	line-height: 100px;
	color:rgb(209, 213, 218);
}
#mainDiv{
	float: left;
	height: 2600px;
	width:25%;
}

#mainDiv li{
	list-style: none;
	text-align: left;
}

#mainDiv ul{
	padding-left: 0;

}  
#mainDiv p{
	border-bottom: 1px solid rgb(88,96,105);
}

#smallAvatarDiv{
	height:20px;
	width: 20px;
	margin-left:10px;
	color: rgb(88,96,105);
}
#rightHeaderSpan{
	float: right;
	width:60px;
	height:50px;
	line-height: 50px;
	margin:auto;
}

#repoMainDiv{
	float:right;
	height:2600px;
	width:60%;
}

#repoMenu{
	height: 50px;
	width: 100%;
	border-bottom: 1px solid #666;
	margin-bottom: 10px;
}
#repoMenu li{
	display: inline-block;
	margin:20px;
}
#repoContainer{
	height: 100px;
	width:100%;
	border-bottom:1px solid rgb(209, 213, 218)
}
#repoContainer h2, #repoContainer p{
	color:rgb(88,96,105);
}
#selects, #selectsLang{
	width: 135px;
	height: 35px;
	margin:0px 10px;
}
#newButton{
	text-align: center;
	align-items: center;
    height: 35px;
    width: 80px;
    border:0;
    outline:0;
    background: rgb(41,169,69);
    color: white;
    border-radius:5px;
    font-size:14px;
    margin:0px 10px;
}
#repoInput{
    height:35px;
    width:350px;
    outline:0;
    border:1px solid rgb(209, 213, 218);
    font-size:14px;
    padding-left:10px;
    background: white;
    margin:0px 10px;
}

#inputContainer{
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-between;
	height: 70px;
	width: 100%;
	border-bottom:1px solid rgb(209, 213, 218);
}

a:link, a:visited, a:hover, a:active{
	color:blue;
	text-decoration: none;
}
